<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6 col-12" *ngFor="let d of data">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ d.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">email: {{ d.email }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">
              gender: {{ d.gender }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              status: {{ d.status }}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search Keywords"
        aria-label="search Keywords"
        aria-describedby="basic-addon2"
        [(ngModel)]="searchKeyword"
      />
    </div>
    <div
      class="text-contaniner"
      [innerHtml]="text | searchPipe: searchKeyword:'full'"
    ></div>
  </div>
</section>
